body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../public/cuhkJP24/cuhkJP24_5.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  z-index: -1;
  will-change: opacity;
}

.main-content {
  padding-top: 100px; /* 根據導航欄的高度調整這個值 */
  max-height: calc(100vh - 100px);
  overflow-y: auto; /* 只需要垂直滾動 */
}

.bg-primary {
  background-color: #FFFFE0;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 100%;
  max-height: 100vh;
}

.scrollable {
  overflow-y: auto;
  max-height: 100vh;
  max-width: 100%;
}

.timeline-image {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
